.mainTitle {
	font-family: arial;
	color: #6958E2
}

.firstList {
	font-family: courier;
	font-weight: bold;
	color: #FFFFFF

}

.mainPage {
	background: #773944
}

.firstParagraph {
	width: 250px;
	background-color: lightblue;
	font-weight: bold;
	font-style: italic;
	font-family: verdana;
	border-radius: 5px;
	margin-left: 10px;
	text-align: center;
}